Repository rfblue2/ngci-test: changes, and which Drone steps are due for each by the changed paths.
All: pipeline-only, project1, project2

.drone.yml:

---
kind: pipeline
type: kubernetes
name: default

steps:
- name: pipeline-only
  image: docker:dind
  depends_on: [clone]
  commands:
  - docker ps
  when:
    paths:
      include:
      - ".drone.yml"
- name: project1
  image: l.gcr.io/google/bazel:3.1.0
  depends_on: [clone]
  commands:
  - bazel test //project1/...
  when:
    paths:
      include:
      - "project1/**"
- name: project2
  image: l.gcr.io/google/bazel:3.1.0
  depends_on: [clone]
  commands:
  - bazel test //project2/...
  when:
    paths:
      include:
      - "project2/**"

trigger:
  event:
    - push

add python pipeline
  .drone.yml
  pypackage1/main/doathing.py
Due: pipeline-only

Make pipeline pass
  .drone.yml
Due: pipeline-only

Project 2 change
  project2/src/main/scala/sample2/Sample2.scala
Due: project2

Fix compile error in project1
  project1/src/main/scala/sample/Sample.scala
Due: project1

Pipeline creator
  .pipeline-creator-spec.yml
  create_pipelines.sh
  project1/pipeline-spec.yml
Due: project1

add pipeline2 spec
  project2/pipeline-spec.yml
Due: project2

Fix specs
  .pipeline-creator-spec.yml
  project1/pipeline-spec.yml
  project2/pipeline-spec.yml
Due: project1, project2

Add pyproject pipeline
  project1/src/main/scala/sample/Sample.scala
  pypackage1/pipeline-spec.yml
Due: project1

Fix pipeline triggers
  .pipeline-creator-spec.yml
  project1/pipeline-spec.yml
  project2/pipeline-spec.yml
  pypackage1/pipeline-spec.yml
Due: project1, project2

Replace if exists
  create_pipelines.sh
Due: none

Capture changes to create_pipelines.sh
  .pipeline-creator-spec.yml
Due: none

include pipeline creator spec
  .pipeline-creator-spec.yml
Due: none

Fix yml file
  .pipeline-creator-spec.yml
  create_pipelines.sh
Due: none

project1 change
  project1/src/main/scala/sample/Sample.scala
Due: project1

Fix bazel test cmd
  project1/pipeline-spec.yml
  project2/pipeline-spec.yml
Due: project1, project2

Fix command
  project1/pipeline-spec.yml
  project2/pipeline-spec.yml
Due: project1, project2

add ls
  project1/pipeline-spec.yml
  project2/pipeline-spec.yml
Due: project1, project2

Add runner runtime env
  .pipeline-creator-spec.yml
  project1/pipeline-spec.yml
  project2/pipeline-spec.yml
Due: project1, project2

Increase memory
  project1/pipeline-spec.yml
  project2/pipeline-spec.yml
Due: project1, project2

Pypackage1 pipeline
  pypackage1/pipeline-spec.yml
Due: none

Codefresh-run pipeline
  .pipeline-creator-spec.yml
  project1/pipeline-spec.yml
  project2/pipeline-spec.yml
  pypackage1/pipeline-spec.yml
Due: project1, project2

More pipeline updates
  .pipeline-creator-spec.yml
  project1/pipeline-spec.yml
  project2/pipeline-spec.yml
  project2/src/main/scala/sample2/Sample2.scala
Due: project1, project2

Change to project2
  .pipeline-creator-spec.yml
  project2/src/main/scala/sample2/Sample2.scala
Due: project2

Modified project1 pipeline
  .pipeline-creator-spec.yml
  project1/pipeline-spec.yml
Due: project1

Smaller machines
  project1/pipeline-spec.yml
  project2/pipeline-spec.yml
  pypackage1/pipeline-spec.yml
Due: project1, project2

Smaller cpu
  project1/pipeline-spec.yml
  project2/pipeline-spec.yml
Due: project1, project2

Update pipeline creator
  .pipeline-creator-spec.yml
  create_pipelines.sh
Due: none

Fix syntax err
  create_pipelines.sh
Due: none

export projet vars
  .pipeline-creator-spec.yml
Due: none

Updated pipeline creator
  .pipeline-creator-spec.yml
  project1/src/main/scala/sample/Sample.scala
Due: project1

Pipeline
  create_pipelines.sh
Due: none

only project1
  project1/src/main/scala/sample/Sample.scala
Due: project1

Update pipelines again, project1
  .pipeline-creator-spec.yml
  create_pipelines.sh
  project1/src/main/scala/sample/Sample.scala
Due: project1

Improve script, project1
  create_pipelines.sh
  project1/src/main/scala/sample/Sample.scala
Due: project1

improve and project1
  create_pipelines.sh
  project1/src/main/scala/sample/Sample.scala
Due: project1

Fix pipeline sh
  create_pipelines.sh
Due: none

Fix pipeline + project1
  create_pipelines.sh
  project1/src/main/scala/sample/Sample.scala
Due: project1

Really fix and projet1
  create_pipelines.sh
  project1/src/main/scala/sample/Sample.scala
Due: project1

Improvement to cf_export project1
  create_pipelines.sh
  project1/src/main/scala/sample/Sample.scala
Due: project1

One more fix, project1
  .pipeline-creator-spec.yml
  project1/src/main/scala/sample/Sample.scala
Due: project1
