Repository rfblue2/ngci-test: changes, and which Drone steps are due for each by the changed paths.
All: pipeline-only, project1, project2

pipeline-only:
  image: docker:dind
  depends_on:
  - clone
  commands:
  - docker ps

project1:
  image: l.gcr.io/google/bazel:3.1.0
  depends_on:
  - clone
  commands:
  - bazel test //project1/...

project2:
  image: l.gcr.io/google/bazel:3.1.0
  depends_on:
  - clone
  commands:
  - bazel test //project2/...

p1, p2 change
  project1/src/main/scala/sample/Sample.scala
  project2/src/main/scala/sample2/Sample2.scala
Due: project1, project2

Revert "p1, p2 change"
  project1/src/main/scala/sample/Sample.scala
  project2/src/main/scala/sample2/Sample2.scala
Due: project1, project2

Revert "Revert "p1, p2 change""
  project1/src/main/scala/sample/Sample.scala
  project2/src/main/scala/sample2/Sample2.scala
Due: project1, project2

Revert "p1, p2 change
  project1/src/main/scala/sample/Sample.scala
  project2/src/main/scala/sample2/Sample2.scala
Due: project1, project2

Revert "Revert "p1, p2 change"
  project1/src/main/scala/sample/Sample.scala
  project2/src/main/scala/sample2/Sample2.scala
Due: project1, project2

Pipelines to larger memory
  .parallel-pipeline.yml
  project1/pipeline-spec.yml
  project2/pipeline-spec.yml
Due: project1, project2

3500m CPU
  create_pipelines.sh
  project1/pipeline-spec.yml
  project2/pipeline-spec.yml
Due: project1, project2

.cache
  .gitignore
Due: none

v1 ignore
  .gitignore
Due: none

Project1 change
  project1/src/main/scala/sample/Sample.scala
Due: project1

Project 1 change
  project1/src/main/scala/sample/Sample.scala
Due: project1

Smaller CPU
  project1/pipeline-spec.yml
Due: project1

Mock project1
  project1/pipeline-spec.yml
Due: project1

Meta-pipeline implementation
  .meta-pipeline-spec.yml
  .parallel-pipeline.yml
  Dockerfile
  gen-pipelines.py
  project1/src/main/scala/sample/Sample.scala
Due: project1

Fix meta pipeline spec
  .meta-pipeline-spec.yml
  project1/src/main/scala/sample/Sample.scala
Due: project1

Mock project 2
  project2/pipeline-spec.yml
Due: project2

One more meta pipeilne fix
  .meta-pipeline-spec.yml
  gen-pipelines.py
  project1/src/main/scala/sample/Sample.scala
Due: project1

Change project 1
  project1/src/main/scala/sample/Sample.scala
Due: project1

Set up CI with Azure Pipelines
  azure-pipelines.yml
Due: none

Update pipelines
  azure-pipelines.yml
Due: none

Python container
  azure-pipelines.yml
Due: none

Python:latest
  azure-pipelines.yml
Due: none

New pipeline with passing variables
  pipeline2.yml
Due: none

Fix task syntax
  pipeline2.yml
Due: none

Version task
  pipeline2.yml
Due: none

use task name
  pipeline2.yml
Due: none

No dash in task name
  pipeline2.yml
Due: none

Task CmdLine
  pipeline2.yml
Due: none

Path conditions:
  pipeline-only: any of: .drone.yml
  project1: any of: project1/**
  project2: any of: project2/**
